.category-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    .item {
      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }
}
