
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FFF;
  padding: 35px 0;
  z-index: 2;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: #FFF;
    width: 80vw;
    position: fixed;
    right: -100%;
    top: 70px;
    min-height: 70vh;
    height: fit-content;
    transition: right .3s ease-in-out;

    &.visible {
      right: 0;
    }

    @media (min-width: 992px) {
      flex-flow: row;
      align-items: center;
      justify-content: flex-end;
      position: static;
      padding: 0;
      min-height: 1px;
      width: auto;
    }

    .option {
      padding: 10px 15px;
    }
  }

  .mobile-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    @media (min-width: 992px) {
      display: none
    }
  }
}


.hamburger-menu {
    display:flex;
    flex-direction:column;
    width:40px;
    cursor: pointer;
   
   
   span{
     background: #000;
     border-radius:10px;
     height:4px;
     margin: 3px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   }
   
   
   span:nth-of-type(1){
     width:50%;
     
   }
   
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
   }
   
   
   
   &.visible {
    span:nth-of-type(1){
      transform-origin:bottom;
      transform:rotatez(45deg) translate(8px,0px)
    }

    span:nth-of-type(2){
      transform-origin:top;
      transform:rotatez(-45deg)
    }

    span:nth-of-type(3){
      transform-origin:bottom;
      width:50%;
      transform: translate(30px,-11px) rotatez(45deg);
    }
   }
}